<section class="main">
  <section class="title-backgroud flex-center">
    <p class="title"> PROJETO EM DESENVOLVIMENTO</p>
  </section>
<mat-card class="example-card flex-center">
  <mat-card-header class="header flex-center">
    <mat-card-subtitle class="textColor">Mini Game</mat-card-subtitle>
    <mat-card-title>Pensamento Computacional</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/gif/bixinho.gif">
  <mat-card-content>
    <p>Game que apresente uma solução envolvendo logica</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

</section>
